@page "/"

<PageTitle>Sample Test</PageTitle>

<button @onclick=Add>
    Add
</button>

<div>
    <h3>Display Result</h3>
    @DisplayResult
</div>

<div>
    <h3> Display Reselt Set</h3>
    @DisplayResultSet
</div>